@import "tailwindcss";
@import "tw-animate-css";
@plugin "daisyui";

/* @import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap"); */

/* Custom Fonts */
@font-face {
  font-family: "CaptureIt";
  src: url("/fonts/CaptureIt.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

/* @font-face {
  font-family: "DirtyHarold";
  src: url("/fonts/DirtyHarold.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
} */

:root {
  --font-title: "CaptureIt", system-ui, sans-serif;
  --font-body: "Montserrat", system-ui, sans-serif;
}

.text-title {
  font-family: var(--font-title);
}

/* Base styles */
@layer base {
  body {
    font-family: var(--font-body);
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    font-family: var(--font-title);
  }
}
